* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --titolo: #8d284b;
    --background-celle: #0f0e17;
    --colore-email: #3fb6e4;
    --colore-testo-celle: #ffffff;
}

.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 10px;
}
h1 {
    font-family: 'Fredoka', sans-serif;
    padding-left: 43%;
}




.paragrafo {
    font-family: 'Fredoka', sans-serif;
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.contenitore{
    content: "";
    display: table;
    clear: right;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 200px;
    

    
    
    
   
}
.celle {
    
    float:left;
    width: calc(100% / 3);
    border: 1px solid black;
    margin-top: 60px;
    padding-right: 50px;
    height: 100px; 
    

   
    
    

    
}
.immagini {
    width: 50%;
    height: 100%;
}

